body {
	background-color: #FAFAFA;

  color: #424242;

	margin: 75px 15px 0 300px;

	-webkit-transition: all 400ms ease-in-out ;
	-moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
}

.divider {
	background-color: #CFD8DC;
	height: 1px;
	width: 100%;
}

.dashboard-nav .nav-group .divider {
	padding: 0 40px;
	margin: 10px 0;
	background-clip: content-box;
}

.dashboard-nav {
	z-index: 5;
	top: 0;
	left: 0;
	position: fixed;

	color: #CFD8DC;
}

.dashboard-nav .top {
	position: absolute;
	top: 0;
	background-color: #263238;
	width: 100vw;
	height: 75px;
	z-index: 1500;
}

.dashboard-nav #nav-toggle {
    margin-left: 30px;
    -webkit-transition: all 400ms ease-in-out ;
	-moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
}

.dashboard-nav .top .search {
	float: right;
	margin-top: 17.5px;
	margin-right: 10vw;
	text-align: right;

	display: flex;
	align-content: center;
	justify-content: center;
}

.dashboard-nav .top .search input[type=search] {
	font-size: 24px;
	font-weight: 100;
	border: none;
	padding: 0;
	padding-left: 30px;
	-webkit-border-radius: 28 0 0 28;
	-moz-border-radius: 28 0 0 28;
	border-radius: 28px 0 0 28px;

	border: solid #DD2C00 1px;
	border-right: none;

	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

.dashboard-nav .top .search input[type=text]:hover {
	background-color: #fff;

	border: solid #FF3D00 1px;
	border-right: none;
}

.dashboard-nav .top .search input[type=text]:focus {
	background-color: #fff;

	border: solid #FF3D00 1px;
	border-right: none;
}

.dashboard-nav .top .search input[type=text]:active {
	background-color: #fff;
}

.dashboard-nav .top .search button {
	-webkit-border-radius: 0 28 28 0;
	-moz-border-radius: 0 28 28 0;
	border-radius: 0 28px 28px 0;
	border: solid #FF3D00 1px;
	padding: 0px 10px 0 5px;

	background-color: #FF3D00;
	color: #fff;
	font-size: 25px;
	box-shadow: none;
	display: block;
	border-left: none;

	width: 45px;
    height: 40px;
}

.dashboard-nav .top .search button:hover {
	background-color: #FF3D00;
	border-color: #FF3D00;
}

.dashboard-nav .top .search button:active {
	font-size: 22px;
}

.dashboard-nav .top .user {
    float: right;
    width: 250px;
    padding: 12.5px;
    background: #FF5722;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-nav .top .user img {
    height: 50px;
}

.dashboard-nav .top .user .name {
    font-size: 18px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.dashboard-nav .top .user .name a {
    color: #fff !important;
}


.dashboard-nav .left {
	width: 250px;
	position: absolute;
	top: 0;
	background-color: #263238;
	height: 100vh;
	z-index: 1510;
	overflow: hidden;
}

.dashboard-nav .left .header {
    cursor: pointer;
    background-color: #FF5722;
    color: #fff;
	padding: 5px;
	top: 0;
	height: 75px;
	z-index: 1510;

	font-size: 2em;

	overflow: hidden;
	transition: padding 200ms;
}

.dashboard-nav .left .header div {
    height: 100%;
    display: flex;
    align-items: center;
}

.dashboard-nav .left.minimized .header {
	padding: 0;
}

.dashboard-nav .left .header img{
	height: 50px;
	margin-right: 9px;
}

.dashboard-nav .left.minimized .header img{

}

.dashboard-nav .left > .active {
	width: 100%;
	height: 150px;

	color: #fff;
	display: flex;
    align-items: center;
    justify-content: center;

    font-size: 45px;
    overflow: hidden;
}

.dashboard-nav .left.minimized > .active {
	display: none;
}

.dashboard-nav .left > ul .active {
	background: #FF5722; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #FF5722, #FF3D00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  #FF5722, #FF3D00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FF5722, #FF3D00); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(to bottom right, #FF5722, #FF3D00); /* Standard syntax */

    color: #fff !important;

    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.dashboard-nav .left > ul .active a {
    color: #fff !important;
}

.dashboard-nav .left > ul .active a:hover {
	background-color: #FF3D00;
}

.dashboard-nav .left > ul .active i {
    color: #fff !important;
}

.dashboard-nav .left > .active img {
	filter: blur(2px);
	width: 100%;
}

.dashboard-nav .left > .active .activeSite{
	position: absolute;
}

.dashboard-nav ul {
    padding: 0;
    list-style: none;
}

.dashboard-nav .left > ul .nav-heading {
	padding: 10px 40px;

	font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.dashboard-nav .left.minimized > ul .nav-heading {
	display: none;	
}



.dashboard-nav .left > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dashboard-nav .left.minimized > ul {
	padding: 0;
}

.dashboard-nav .nav-group li {
    width: 100%;
}

.dashboard-nav .nav-group li a {
    display: block;
    width: 100%;
    padding: 10px 40px;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ECEFF1;

    font-size: 18px;

    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.dashboard-nav .left.minimized li a {
	padding: 10px;
	text-align: center;
}

.dashboard-nav .left.minimized li a i.glyphicon {
	padding: 0;
	font-size: 30px;
}

.dashboard-nav .nav-group li a:hover {
	background-color: #607D8B;
}

.dashboard-nav .nav-group li a .glyphicon{
    padding-right: 10px;
}

.dashboard-nav .left.minimized ul li a span {
	display: none;
}
/******************/
/*   Animations   */
/******************/

.left {
  transition: all 400ms ease-in-out;
}

.left .hide {
	display: none !important;
}

.left.minimized {
	 width: 70px !important;
}

.left.shown {
	width: 300px !important;
}

/** RIPPLE EFFECT */
.wave{
  display:block;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
/* END */

/* Buttons */
.button {
	color: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	width: 120px;
}

a.button {
    text-decoration: none;

 	display: flex;
    justify-content: center;
    align-items: center;
}

a.button:hover {
	color: #fff;
}

.button:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	filter: brightness(110%);
}


.button.primary {
	background-color: #304FFE !important;
	color: #fff;
}

.button.success {
	background-color: #00C853 !important;
	color: #fff;
}

.button.info {
	background-color: #18FFFF !important;
	color: #fff;
}

.button.warning {
	background-color: #FF9100 !important;
	color: #fff;
}

.button.danger {
	background-color: #FF1744 !important;
	color: #fff;
}

/* End */

/* Toasts */
.toastContainer {
	position: fixed;
	top: 100px;
	right: 20px;

	list-style: none;
  z-index: 10000;
}

.toast {
	align-items: center;
	background-color: #424242;
	border-radius: 5px;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	color: #fff;
	display: flex;
	font-size: 20px;
	height: 75px;
	justify-content: center;
	margin-bottom: 10px;
	width: 200px;
  z-index: 10000;
}

.toast.primary {
	background-color: #304FFE !important;
	color: #fff;
}

.toast.success {
	background-color: #00C853 !important;
	color: #fff;
}

.toast.info {
	background-color: #18FFFF !important;
	color: #fff;
}

.toast.warning {
	background-color: #FF9100 !important;
	color: #fff;
}

.toast.danger {
	background-color: #FF1744 !important;
	color: #fff;
}

/* Animations */
.toast.fadeIn {
	animation-name: toast-fadeIn;
	animation-duration: 500ms;
	animation-timing-function: ease;
}

.toast.fadeOut {
	animation-name: toast-fadeOut;
	animation-duration: 500ms;
	animation-timing-function: ease;

	opacity: 0;
}
	@keyframes toast-fadeIn {
		0% {
			margin-right: -220px;
			opacity: 0;
		}

		100% {
			margin-right: 0;
			opacity: 1;
		}

	}

	@keyframes toast-fadeOut {
		0% {
			margin-right: 0;
			opacity: 1;
		}

		100% {
			margin-right: -220px;
			opacity: 0;
		}

	}
/* End */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF5722;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
*, *:before, *:after {
  box-sizing: border-box;
}

.chatbox.hide-chat {
    right: -650px!important;
}

.chatbox.show-chats {
    right: -400px !important;
}

.chatbox.show-chats.hasActive {
    right: 0 !important;
}

.chatbox {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 650px;
    height: 560px;
    transition: all 400ms ease;

}

.chatbox  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.chatbox #hide-button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    height: 55px;
    width: 55px;
    margin-left: -55px;
    border: none;
    background: red;
    z-index: 1;
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbox .left {
  float: left;
  width: 250px;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.chatbox .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px;
}
.chatbox .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  transform: translate(-50%, 0);
}
.chatbox .left #chatUsersSearch {
  float: left;
  width: 188px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  transition: all 200ms ease;
}
.chatbox .left #chatUsersSearch:focus {
  border-radius: 21px 21px 0 0;
}

.chatbox .left #chatUsersSearch:focus {
  outline: none;
}

.chatbox .left .dropdown-menu {
    top: 69px;
    left: auto;
    width: 188px;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.chatbox .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  background-color: #00b0ff;
  background-image: url("https://s11.postimg.org/dpuahewmn/name_type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%;
}
.chatbox .left .people {
  overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
    padding: 0;
    list-style: none;
  margin-left: -1px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: calc(100% + 2px);
}
.chatbox .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: #fff;
}
.chatbox .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  transform: translate(-50%, 0);
}
.chatbox .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}
.chatbox .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.chatbox .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: #999;
  background-color: #fff;
}
.chatbox .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.chatbox .left .people .person.active, .chatbox .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #00b0ff;
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}
.chatbox .left .people .person.active span, .chatbox .left .people .person:hover span {
  color: #fff;
  background: transparent;
}
.chatbox .left .people .person.active:after, .chatbox .left .people .person:hover:after {
  display: none;
}
.chatbox .right {
  position: relative;
  float: left;
  width: 400px;
  height: 100%;
}
.chatbox .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}
.chatbox .right .top span {
  font-size: 15px;
  color: #999;
}
.chatbox .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.chatbox .right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 20px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: calc(100% - 48px);
  justify-content: flex-end;
  flex-direction: column;
}
.chatbox .right .chat.active-chat {
  display: block;
  overflow-y: auto;
  height: 428.188px;
  //display: flex;
}
.chatbox .right .chat.active-chat .bubble {
  -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(1) {
  -moz-animation-duration: 0.15s;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(2) {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(3) {
  -moz-animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(4) {
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(5) {
  -moz-animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(6) {
  -moz-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(7) {
  -moz-animation-duration: 1.05s;
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(8) {
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(9) {
  -moz-animation-duration: 1.35s;
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s;
}
.chatbox .right .chat.active-chat .bubble:nth-last-of-type(10) {
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.chatbox .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px;
}
.chatbox .right .write input {
  font-size: 16px;
  float: left;
  width: 250px;
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.chatbox .right .write .write-link.attach {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("https://s1.postimg.org/s5gfy283f/attachemnt.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox .right .write .write-link.smiley {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("https://s14.postimg.org/q2ug83h7h/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox .right .write .write-link.send {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  margin-left: 11px;
  content: '';
  background-image: url("https://s30.postimg.org/nz9dho0pp/send.png");
  background-repeat: no-repeat;
  background-position: center;
}
.chatbox .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}
.chatbox .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  transform: rotate(29deg) skew(-35deg);
}
.chatbox .right .bubble.you {
  float: left;
  color: #fff;
  background-color: #00b0ff;
  align-self: flex-start;
  -moz-animation-name: slideFromLeft;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}
.chatbox .right .bubble.you:before {
  left: -3px;
  background-color: #00b0ff;
}
.chatbox .right .bubble.me {
  float: right;
  color: #1a1a1a;
  background-color: #eceff1;
  align-self: flex-end;
  -moz-animation-name: slideFromRight;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}
.chatbox .right .bubble.me:before {
  right: -3px;
  background-color: #eceff1;
}
.chatbox .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.chatbox .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}
.chatbox .right .conversation-start span:before, .chatbox .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
}
.chatbox .right .conversation-start span:before {
  left: 0;
}
.chatbox .right .conversation-start span:after {
  right: 0;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.search {
    margin: 15px 0;
    position: relative;
}

.search input{
    width: 100%;
    border: none;
    height: 50px;
    font-size: 25px;
    margin: 0;
    padding: 0px 30px;
    border-radius: 25px;
    background-color: #FF5722;
    color: #fff;
    position: relative;
}

.search input::-webkit-input-placeholder {
    color: #fff;
    opacity: .8
}

.search input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    opacity: .8
}

.search input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: .8
}

.search input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #fff;
    opacity: .8
}

.search .material-icons {
    cursor: pointer;
    position: absolute;
    right: 30px;
    font-size: 30px;
    top: 10px;
    color: #fff;
}